stages:
  - test

variables:
  MAVEN_OPTS: "-Dmaven.test.failure.ignore=false"
  # по умолчанию гоняем только смоуки
  TAGS: "smoke"

ui-tests:
  stage: test
  image: maven:3.9.9-eclipse-temurin-17
  services:
    - name: selenium/standalone-chrome:latest
      alias: selenium
  script:
    - mvn -B clean test
      -DTAGS=${TAGS}
      -DremoteUrl=http://selenium:4444/wd/hub
      -Dheadless=true
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - target/allure-results
      - target/surefire-reports
  only:
    - main
  tags:
    - docker
