name: UI Tests + Allure

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-chrome:latest
        ports:
          - 4444:4444
        options: --shm-size=2g

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Run UI tests
        run: |
          mvn clean test \
            -DremoteUrl=http://localhost:4444/wd/hub \
            -Dheadless=true

      - name: Generate Allure report
        run: |
          sudo apt-get update
          sudo apt-get install -y allure
          allure generate target/allure-results -o target/allure-report --clean

      - name: Deploy Allure to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: target/allure-report
